NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/gymmanager_final
JWT_SECRET=cambia_este_secreto_access_token
JWT_REFRESH_SECRET=cambia_este_secreto_refresh_token
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
