extends layout

block content
  section.hero
    h1= title
    p= description
    p Consulta la programación, revisa los entrenadores disponibles y organiza las clases del centro desde un panel sencillo.
    div.actions
      a.button(href="/classes") Ver clases programadas
      if canCreateClasses
        a.button.secondary(href="/classes/new") Programar clase
      else
        a.button.secondary(href="/login") Acceso del equipo
