doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    header.header
      nav.navbar
        a.logo(href="/") GymManager
        div.links
          a(href="/classes") Clases
          a(href="/classes/new") Crear clase
          a(href="/health") Health
    main.container
      block content
