doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    header.header
      nav.navbar
        a.logo(href="/") GymManager
        div.links
          a(href="/classes") Clases
          if canCreateClasses
            a(href="/classes/new") Programar clase
          if currentUser
            form.logout-form(method="POST", action="/logout")
              button.link-button(type="submit") Cerrar sesión
          else
            a(href="/login") Acceso
    main.container
      block content
